<div class="admin-form">
  <h1 class="admin-from-title">Statistics</h1>
  <ul class="admin-form-object-list">
    <li class="admin-form-object-list-item">
      <h3>Number of users: {{model.statistics.numberOfUsers}}</h3>
    </li>
	<li class="admin-form-object-list-item">
      <h3>Number of restaurants: {{model.statistics.numberOfRestaurants}}</h3>
    </li>
	<li class="admin-form-object-list-item">
      <h3>Number of reservations: {{model.statistics.numberOfReservations}}</h3>
    </li>
  </ul>
</div>
